# template files
files/

# compiled output
dist/
tmp/

# test fixtures
tests/fixtures/
tests/fixture-support/
test-packages/

# dependencies
/node_modules/

# misc
/coverage/
!.*
.*/
.eslintcache
*.yaml
